.list-group {
  overflow: scroll;
  width: 100%;
  height: 350px;
}

#drop_zone {
    border: 5px solid blue;
    height: 50%;
    background-color: aqua;
}

#graph{
  width: 40%;
  height: 400px;
  margin-left: 25%;
  position: relative;
}

body {
  background-color: lightblue;
}

#upload{
    width: 65%;
    height: 100%;
    margin-left: 17.5%;
}

.hidden {
  visibility: hidden;
}

#choose {
  position: absolute;
  left: 70%;
  top: 5%;
  height: 50%;
  width: 30%;
}

#choose2 {
  position: absolute;;
  top: 5%;
  height: 40%;
  width: 20%;
}

#headers-list{
  border: 1px solid chocolate;
}
.buttonHolder {
  margin-top: 2%;
  width: fit-content;
  height: fit-content;
  margin-bottom: 2%;
}

.table-row{
  height: 40%;
  width: 65%;
  margin-top: 500px;
  position: absolute;
  border: solid chocolate;
}

th{
  color:#0080ff;
  font-size: 25px;
  background-color: white;
} 

td{
  font-weight: bold;
  background-color: white;
}

button{
  font-weight: bold;
}

#myInput {
  background-image: url('/static/images/searchicon.png'); /* Add a search icon to input */
  background-position: 10px 12px; /* Position the search icon */
  background-repeat: no-repeat; /* Do not repeat the icon image */
  width: 100%; /* Full-width */
  font-size: 16px; /* Increase font-size */
  padding: 12px 20px 12px 40px; /* Add some padding */
  border: 1px solid #ddd; /* Add a grey border */
  margin-bottom: 12px; /* Add some space below the input */
}

#myInput2 {
  background-image: url('/static/images/searchicon.png'); /* Add a search icon to input */
  background-position: 10px 12px; /* Position the search icon */
  background-repeat: no-repeat; /* Do not repeat the icon image */
  width: 100%; /* Full-width */
  font-size: 16px; /* Increase font-size */
  padding: 12px 20px 12px 40px; /* Add some padding */
  border: 1px solid #ddd; /* Add a grey border */
  margin-bottom: 12px; /* Add some space below the input */
}
/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 300px; /* Set a default minimum width */
  min-height: 50px;
  margin-left: -125px; /* Divide value of min-width by 2 */
  background-color: #dc143c; /* red background color */
  color: #fff; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 2px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  left: 50%; /* Center the snackbar */
  bottom: 5%; /* 30px from the bottom */
}
#snackbar2 {
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 300px; /* Set a default minimum width */
  min-height: 50px;
  margin-left: -125px; /* Divide value of min-width by 2 */
  background-color: #008000; /* green background color */
  color: #fff; /* green text color */
  text-align: center; /* Centered text */
  border-radius: 2px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  left: 50%; /* Center the snackbar */
  bottom: 5%; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}
#snackbar2.show {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

#submit{
  width: 100%;
  height: fit-content;
  border: 1px solid brown;
  color: black;
  background-color: chocolate;
  text-align: center;
}



/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}