<!DOCTYPE html>
<html lang="en">
<head>
  <title>Anomaly detector</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='mycss.css')}}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="{{ url_for('static', filename='main.js') }}"></script>

  <style>
    #graph{
      border: 1px solid chocolate;
      width: 40%;
      height: 400px;
      margin-left: 25%;
      position: relative;
    }


  </style>
</head>
<body>

  <div id="choose">
    <input type="text" id="myInput" onkeyup="search(this)" placeholder="Search for names..">
    <ul class="list-group" id="models"></ul>
    <div class="buttonHolder">
      <button type="button" class="btn btn-light" onclick="trainClick()" id="train">Train model</button>
      <button type="button" class="btn btn-light" onclick="findClick()" id="find">Find anomalies</button>
    </div>

    <div id="drop_zone" ondrop="dropHandler(event)" ondragover="dragOverHandler(event)" onclick="fileUploadClick()">
        <img src="../static/images/drop.jpg" id="upload">
    </div>
    <div class="buttonHolder hidden" id="types">
      <button type="button" class="btn btn-light" onclick="hybridClick()" id="hybrid">hybrid</button>
      <button type="button" class="btn btn-light" onclick="regressionClick()" id="regression">regression</button>
    </div>
    <button type="button" class="btn btn-light" onclick="submit()" id="submit">submit request</button>

  </div>
  <div id="snackbar">Warning! the model is pending</div>
  <div id="snackbar2"></div>


  <div class="container-fluid table-responsive table-container">
    <div class="row table-responsive table-row">
      <div class="col-12">
        <table id="train-table" class="table table-bordered table-hover table-condensed"></table>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div id="graph">

    </div>
  </div>
<div id="choose2">
  <input type="text" id="myInput2" onkeyup="search2(this)" placeholder="Search for names..">
    <ul class="list-group" id="headers-list"></ul>
</div>
<input type="file" id="fileInput" style="display: none" onchange="onUploadEventEnd()"/>
</body>
</html>
