<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='mycss.css')}}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="{{ url_for('static', filename='main.js') }}"></script>
</head>
<body>

  <div id="choose">
    <input type="text" id="myInput" onkeyup="search(this)" placeholder="Search for names..">
    <ul class="list-group" id="models"></ul>
    <div class="buttonHolder">
      <button type="button" class="btn btn-light" onclick="trainClick()" id="train">Train model</button>
      <button type="button" class="btn btn-light" onclick="findClick()" id="find">Find anomalies</button>
    </div>
    <div id="drop_zone" ondrop="dropHandler(event);" ondragover="dragOverHandler(event);" onclick="func(event);">
        <img src="../static/images/drag_drop.png" id="upload">
    </div>
    <div class="buttonHolder hidden" id="types">
      <button type="button" class="btn btn-light" onclick="hybridClick()" id="hybrid">hybrid</button>
      <button type="button" class="btn btn-light" onclick="regressionClick()" id="regression">regression</button>
    </div>
    <button type="button" class="btn btn-light" onclick="submit()" id="submit">submit request</button>

  </div>
  <div id="snackbar">Warning! the model is pending</div>

  <div>
    <table id="train-table">
      <tr id="table-headers">
      </tr>
    </table>
  </div>

</body>
</html>
